.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  // overflow: hidden;
  .Mui-selected .MuiTreeItem-content {
    background-color: #80cbc4 !important; /* 원하는 색상 */
    color: white !important; /* 텍스트 색상 */
  }
}

.wrapper {
  position: relative;
  display: flex;
  flex: 1;
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 12.5rem;
    height: 100%;
    background-color: var(--background-color);
    // z-index: -1;
    word-break: keep-all;
    div {
      ul {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
      }
    }
  }
}

// .content {
//   flex: 1;
//   overflow-y: auto;
// }
