.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  // overflow: hidden;
}

.wrapper {
  position: relative;
  display: flex;
  flex: 1;
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 100%;
    background-color: var(--background-color);
    // z-index: -1;
    word-break: keep-all;
    div {
      ul {
        display: flex;
        flex-direction: column;
        gap: 24px;
      }
    }
  }
}

// .content {
//   flex: 1;
//   overflow-y: auto;
// }
