.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  // overflow: hidden;
  .Mui-selected .MuiTreeItem-content {
    background-color: #80cbc4 !important; /* 원하는 색상 */
    color: white !important; /* 텍스트 색상 */
  }
  .mobileBtn {
    // width: 100%;
    // height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    top: 75px;
    right: 10px;
    width: 50px;
    height: 50px;
    border: 2px solid #555;
    outline: none;
    background-color: #ffffffcc;
    border-radius: 10px;
  }
  @media (min-width: 768px) {
    width: 100%;
  }
  @media (min-width: 480px) {
    // height: 100vh;
  }
}

.wrapper {
  position: relative;
  display: flex;
  flex: 1;
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 12.5rem;
    height: 100%;
    background-color: var(--background-color);
    // z-index: -1;
    word-break: keep-all;
    position: relative;
    @media (max-width: 1024px) {
      position: absolute;
      // top: 75px; /* Header 바로 아래 */
      left: 0;
      width: 12.5rem;
      height: calc(100vh - 75px); /* Header 높이만큼 뺀 나머지 */
      z-index: 1000;
      transition: left 0.3s ease;
    }
    &.nav-open {
      left: 0; /* nav가 보일 때 화면에 표시 */
    }

    div {
      ul {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
      }
    }
  }
}

// .content {
//   flex: 1;
//   overflow-y: auto;
// }
