.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin-bottom: 20px;
  }

  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    font-size: 1.2rem;
  }

  input {
    padding: 10px;
    font-size: 1rem;
    margin-top: 5px;
    width: 100%;
    max-width: 300px;
  }

  div {
    display: flex;
    flex-direction: column;

    div {
      margin-bottom: 10px;
      width: 100%;
    }

    button {
      padding: 10px 50px;
      font-size: 1rem;
      margin-bottom: 10px;
      cursor: pointer;
      width: 100%;
      max-width: 100%;

      text-align: center;
    }

    .google {
      background-color: #4285f4;
      color: white;
      border: none;
      border-radius: 5px;
      margin: 0;
    }

    .kakao {
      background-color: #fee500;
      color: black;
      border: none;
      border-radius: 5px;
    }
  }
}
