.container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background-color: #eeeff1;
  padding: 60px 20px;

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.625rem;
  }
  .loginContainer {
    display: flex;
    flex-direction: column;
    height: 6.25rem;
    gap: 40px;
  }

  .loginBox {
    position: relative;
    width: 100%;
  }

  input {
    font-size: 15px;
    color: #222222;
    width: 100%;
    // height: 50px;
    border: none;
    border-bottom: solid #aaaaaa 1px;
    padding-bottom: 10px;
    padding-left: 10px;
    position: relative;
    // background-color: red;
    // background: none;
    z-index: 5;
  }

  input::placeholder {
    color: #aaaaaa;
  }
  input:focus {
    outline: none;
  }

  span {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0%; /* right로만 바꿔주면 오 - 왼 */
    background-color: #666;
    width: 0;
    height: 2px;
    border-radius: 2px;
    transition: 0.5s;
    z-index: 10;
  }

  label {
    position: absolute;
    color: #aaa;
    left: 10px;
    font-size: 20px;
    bottom: 4px;
    transition: all 0.2s;
    z-index: 6;
  }

  input:focus ~ label,
  input:valid ~ label {
    font-size: 16px;
    bottom: 40px;
    color: #666;
    font-weight: bold;
  }

  input:focus ~ span,
  input:valid ~ span {
    width: 100%;
  }

  .links {
    display: flex;
    width: 100%;
    justify-content: space-around;
    color: #aaa;
  }

  a {
    text-decoration: none;
    font-size: 13px;
    color: #aaa;
  }
  .buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .google {
    width: 45%;
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    overflow: visible;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 0;
    background: none;
  }

  .kakao {
    width: 45%;
    color: #000000 85%;
    border: none;
    border-radius: 5px;
    background: none;
  }

  .logos {
    width: 100%;
    height: 100%;
  }
}

.loginBtn {
  width: 100%;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 8px;
  background-color: var(--main-color);
}
