/* CCTVandAnimalInfo.module.scss */
.liveStockInfoBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border: 1px solid black;
  margin-bottom: 1rem;
  width: 50%; /* 화면의 반을 차지하도록 설정 */

  .dataBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0; /* 십자가 표시를 위한 간격 설정 */
    width: 70%; /* 전체 너비의 70%를 차지하도록 설정 */
    position: relative; /* 십자가 모양을 그리기 위한 포지셔닝 */
    height: 100%; /* 부모의 높이에 맞추기 */
    font-size: 1.2rem;

    /* 십자가 표시를 위한 스타일 */
    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: black; /* 십자가 색상 */
    }

    &::before {
      width: 100%;
      height: 2px; /* 십자가 가로선 두께 */
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      z-index: 1; /* 십자가가 셀 위에 표시되도록 설정 */
    }

    &::after {
      height: 100%;
      width: 2px; /* 십자가 세로선 두께 */
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      z-index: 1; /* 십자가가 셀 위에 표시되도록 설정 */
    }

    div {
      position: relative;
      padding: 1rem;
      box-sizing: border-box;
    }
  }

  .cctvBox {
    width: 100%; /* CCTV 영역의 너비를 설정 */
    height: 100%; /* 부모의 높이에 맞추기 */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000; /* CCTV 박스 배경색 (선택 사항) */
  }

  .cctv {
    width: 100%;
    height: auto;
  }
}
