/* CCTVandAnimalInfo.module.scss */
.liveStockInfoBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border: 3px solid var(--point-color);
  margin-bottom: 1rem;
  width: 95%; /* 화면의 반을 차지하도록 설정 */
  height: 90%;

  .dataBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0; /* 십자가 표시를 위한 간격 설정 */
    width: 70%; /* 전체 너비의 70%를 차지하도록 설정 */
    position: relative; /* 십자가 모양을 그리기 위한 포지셔닝 */
    height: 100%; /* 부모의 높이에 맞추기 */
    font-size: 1.2rem;

    div {
      padding: 1rem;
      border: 1px solid var(--point-color);
      // position: relative;
      box-sizing: border-box;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .icon {
        width: 90%;
        height: 90%;
        object-fit: contain;
      }
    }
    div::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      box-shadow: inset 0 0 0 1px var(--point-color); /* 테두리를 더 강하게 표현 */
      z-index: -1;
    }
  }

  .cctvBox {
    width: 50%; /* CCTV 영역의 너비를 설정 */
    height: 100%; /* 부모의 높이에 맞추기 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 2px solid var(--point-color);
    background-color: var(--point-color);
    overflow: hidden;
    margin: 0 auto;
  }

  .cctv {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
