.LightWidget {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  // padding-bottom: 4px;
  // gap: 4px;
  // background-color: #f0f4f8;
  // border: 1px solid #d1d5db;
  border-radius: 12px;
  // padding: 20px;
  width: 100%;
  height: 100%;
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  .turnOn {
    font-size: 48px;
    color: var(--point-color);
    cursor: pointer;
    &:hover {
      color: #808080;
      transition: 0.5s ease-out;
    }
  }
  .turnOff {
    font-size: 48px;
    color: #808080;
    cursor: pointer;
    &:hover {
      color: var(--point-color);
      transition: 0.5s ease-out;
    }
  }
}
