.wrapper {
  width: 50%;
  margin: 4rem auto; /* 중앙 정렬 및 상단 여백 추가 */
  padding: 2rem; /* 패딩 추가 */
  border-radius: 1rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user {
  margin-bottom: 2rem; /* 버튼과의 간격 조정 */
  text-align: center; /* 텍스트 중앙 정렬 */
}

.user h3 {
  font-size: 1.5rem; /* 폰트 크기 조정 */
}

.lists {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  font-size: 1.2rem; /* 폰트 크기 조정 */
}

.listItem {
  padding: 1rem;
  border: 1px solid gray; /* 버튼 스타일 추가 */
  border-radius: 0.5rem;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease; /* 호버 효과를 위한 트랜지션 */
}

.listItem:hover {
  background-color: #f0f0f0; /* 호버 시 배경 색상 변경 */
}

.listItem.active {
  background-color: #e0e0e0; /* 활성화된 버튼 스타일 */
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
