.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modalContent {
    background: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100vh;
    height: 67vh;
    overflow: hidden;
  }
}

/* 768px 이하 */
@media (max-width: 768px) {
  .modalOverlay {
    .modalContent {
      width: 90vw; /* 화면 너비의 90%로 조정 */
      height: 60vh; /* 화면 높이의 60%로 조정 */
      padding: 0.75rem; /* 패딩 조금 줄이기 */
    }
  }
}

/* 480px 이하 */
@media (max-width: 480px) {
  .modalOverlay {
    .modalContent {
      width: 95vw; /* 화면 너비의 95%로 조정 */
      height: 50vh; /* 화면 높이의 50%로 조정 */
      padding: 0.5rem; /* 패딩 더 줄이기 */
    }
  }
}
