.placeSearchContainer {
  width: 100%; /* 부모 컨테이너에서 주어진 전체 너비 사용 */
}

.inputContainer {
  margin-bottom: 10px;
}

.searchInput {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.searchButton {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  cursor: pointer;
}

.placesList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.placeItem {
  margin-bottom: 10px;
  cursor: pointer;
}
.placeholderItem {
  color: gray;
  display: flex;
  justify-content: center;
}
