.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  width: 90%;
  max-width: 700px;
  margin: 3rem auto;

  h2 {
    font-size: 2rem;
    color: #444;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
  }
}

.box {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .addFileBtn {
    background-color: var(--second-color);
    color: #fff;
    padding: 0.75rem 1.5rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-weight: bold;
  }
}

.listContainer {
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 12px;
  background-color: #f5f5f5; /* 세련된 배경색으로 변경 */
  width: 90%;
  max-width: 700px;
  margin: 2rem auto;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1); /* 더 깊은 그림자 추가 */

  .listHeader {
    font-size: 2rem;
    color: #333;
    margin-bottom: 2rem;
    text-align: center;
  }

  .listItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    border-bottom: 1px solid #e0e0e0;

    &:last-child {
      border-bottom: none;
    }
  }

  .itemDetails {
    flex: 1;
    padding-right: 1rem;
  }

  .itemActions {
    display: flex;
    height: 100%;
    gap: 1rem;
    .editDeleteBtn {
      background-color: var(--second-color);
      color: #fff;
      padding: 0.75rem 1.25rem;
      border-radius: 6px;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.2s ease;
    }
    .editDeleteBtn:hover {
      background-color: var(--point-color);
      transform: scale(1.05); /* hover 시 약간 확대 효과 추가 */
    }
  }
  .imagePreview {
    max-width: 180px;
    max-height: 180px;
    overflow: hidden;
    border-radius: 8px;
    background-color: #f0f0f0;
  }

  .imagePreview img {
    width: 100%;
    height: auto;
  }

  .imagePreviewSmall {
    width: 3rem;
    height: 3rem;
    object-fit: contain;
    border-radius: 4px;
  }
}

.questionAddBtn {
  background-color: var(--second-color);
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.questionAddBtn:hover {
  background-color: var(--point-color);
  transform: scale(1.05);
}
