.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  width: 80%;
  max-width: 800px;
  margin: 2rem auto;

  h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 1rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
}

.box {
  margin-bottom: 1rem;
  gap: 1.2rem;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listContainer {
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  width: 80%;
  max-width: 800px;
  margin: 2rem auto;
}

.listHeader {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 1rem;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ddd;

  &:last-child {
    border-bottom: none;
  }
}

.itemDetails {
  flex: 1;
}

.itemActions {
  display: flex;
  gap: 0.5rem;
}

.addQuestionButton {
  margin-top: 1rem;
}
.imagePreview {
  max-width: 200px; /* 최대 너비 */
  max-height: 200px; /* 최대 높이 */
  overflow: hidden;
}

.imagePreview img {
  width: 100%;
  height: auto; /* 이미지의 비율을 유지하면서 가로 크기에 맞추기 */
}
