.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  table-layout: auto; /* 자동 테이블 레이아웃 */
}

.th,
.td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  word-wrap: break-word; /* 셀 내에서 텍스트 줄바꿈 */
  white-space: normal; /* 줄바꿈 허용 */
}

.th {
  background-color: gray;
  color: white;
  font-weight: bold;
}

/* 짧은 데이터의 열 */
.narrow {
  width: 5%;
}

/* 긴 데이터의 열 */
.wide {
  width: 5%;
  overflow: hidden;
  text-overflow: ellipsis; /* 긴 내용이 넘칠 때 ...로 표시 */
  white-space: nowrap; /* 한 줄로 표시 */
}

/* 크기 및 무게에 중간 크기 적용 */
.medium {
  width: 1%;
}
