.sent {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-direction: row-reverse;
  p {
    background-color: #ffec4e;
  }
}
.received {
  display: flex;
  align-items: center;
  gap: 5px;

  p {
    background-color: #fff;
  }
}
.message-timestamp {
  font-size: 8px;
  color: gray;
}
