.Chatting {
  text-align: center;
  width: 30%;
  min-width: 450px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 24px;
  header {
    background-color: #a9bdce;
    height: 8vh;
    min-height: 50px;
    color: rgb(59, 59, 59);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    h4 {
      margin: 0;
    }
  }
  nav {
    background-color: #b2c7d9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    button {
      padding: 0;
      border-radius: 50%;
      cursor: pointer;
      &:hover {
        filter: brightness(0.6);
      }
    }
  }
  section {
    background-color: #b2c7d9;
    display: flex;
    flex-direction: column;
    flex: 1 1;
    overflow: hidden;
  }
  main {
    flex: 1 1;
    padding: 10px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 0.6rem;
      background-color: transparent;
    }
    &::-webkit-scrollbar-track {
      background-color: #b2c7d9;
    }
    &::-webkit-scrollbar-thumb {
      width: 8px;
      background-color: #8b9aa6;
    }
  }

  form {
    background-color: #ffec42;
    width: 100%;
    height: 8vh;
    max-width: 450px;
    font-size: 1.5rem;
    flex: none;
    display: flex;
    button {
      background-color: #ffec42;
      width: 20%;
    }
  }
  button {
    border: none;
    border-radius: 9999px;
    color: gray;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
  }

  .sign-in {
    color: gray;
    background-color: white;
    max-width: 400px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 25px;
  }
  .notice {
    margin-top: 20px;
    color: #72808b;
  }
  .sign-out {
    border: none;
    padding: 8px 15px;
    text-align: center;
    cursor: pointer;
    font-size: 0.8rem;
    border-radius: 25px;
    &:hover {
      color: #fff;
      background-color: gray;
    }
  }
  form input {
    width: 100%;
    font-size: 1rem;
    background-color: #fff;
    color: #262626;
    outline: none;
    border: none;
    padding: 0 15px;
  }

  .message {
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    p {
      padding: 10px 20px;
      border-radius: 25px;
      text-align: center;
      margin: 0;
      color: #262626;
    }
  }
  //   .sent {
  //     display: flex;
  //     align-items: center;
  //     gap: 5px;
  //     flex-direction: row-reverse;
  //     p {
  //       background-color: #ffec4e;
  //     }
  //   }
  //   .received {
  //     display: flex;
  //     align-items: center;
  //     gap: 5px;

  //     p {
  //       background-color: #fff;
  //     }
  //   }
  //   .message-timestamp {
  //     font-size: 8px;
  //     color: gray;
  //   }
}
