.controls {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.form {
  display: flex;
  align-items: center;
  flex: 1;
}

.searchInput {
  flex: 1;
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: border-color 0.3s;
  height: 40px;

  &::placeholder {
    color: #878787;
  }

  &:focus {
    border-color: #333;
    outline: none;
  }
}

.searchButton {
  padding: 0 10px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-left: none;
  border-radius: 0 5px 5px 0;
  color: #333;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 40px;
  transition: background-color 0.3s, border-color 0.3s;

  img {
    width: 20px;
    height: 20px;
  }

  &:hover {
    background-color: #e0e0e0;
  }
}

.newButton {
  background-color: #fff;
  border: 2px solid #fff;
  color: #333;
  border-radius: 9999rem;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;

  &:hover {
    background-color: #333;
    color: #fff;
    border: 2px solid #333;
  }
}

.sortSelect {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  background-color: #fff;
  transition: border-color 0.3s;

  &:focus {
    border-color: #333;
    outline: none;
  }
}

.postCount {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.showMoreButton {
  display: block;
  margin: 20px auto;
  border: none;
  background-color: #fff;
  border-radius: 9999rem;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  &:hover::after {
    width: 100%;
  }

  // 밑줄 가상 요소
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; /* 밑줄의 두께 */
    background-color: #333;
    transition: width 0.3s ease; /* 밑줄이 서서히 늘어나도록 transition 적용 */
    transform-origin: left;
  }
}
