.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
}

.image {
  height: 200px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.contentText {
  font-size: 1.2em;
  line-height: 1.6;
  color: #333;
}
.siren {
  display: flex;

  button {
    width: 50px;
    height: 50px;
    margin-left: 400px;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
  }
  span {
    line-height: 3;
  }
  img {
    width: 100%;
    height: 100%;
  }
}
