.container {
  width: 100%;
  max-width: 43.75rem;
  margin: 3.75rem auto;
  padding: 1.875rem;
  background-color: #ffffff;
  border-radius: 0.75rem;
  box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 0.375rem 1.875rem rgba(0, 0, 0, 0.15);
  }

  h2 {
    text-align: center;
    color: #444444;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.25rem;
  }

  .group {
    margin-bottom: 1.5625rem;
  }

  label {
    display: block;
    margin-bottom: 0.625rem;
    font-weight: 600;
    font-size: 1rem;
    color: #555555;
  }

  input[type="text"],
  textarea,
  select {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #dddddd;
    border-radius: 0.5rem;
    font-size: 1rem;
    color: #333333;
    background-color: #fafafa;
    transition: border-color 0.3s ease;

    &:focus {
      border-color: #007bff;
      outline: none;
    }
  }

  textarea {
    resize: vertical;
    min-height: 11.25rem;
  }
  button {
    width: 100%;
    margin: 0.2rem;
  }
  @media (max-width: 480px) {
    padding: 1rem; /* 패딩 추가 조정 */

    h2 {
      font-size: 1.125rem; /* 제목 크기 조정 */
    }

    input[type="text"],
    textarea,
    select {
      padding: 0.5rem; /* 입력 필드 패딩 조정 */
      font-size: 0.875rem; /* 글자 크기 조정 */
    }

    .submitBtn,
    .cancelBtn {
      font-size: 0.875rem; /* 버튼 글자 크기 조정 */
      padding: 0.5rem; /* 버튼 패딩 조정 */
    }
  }
}
