.AdminStock {
  display: flex;
  gap: 24px;
  width: 77vw;
  overflow: hidden;
}
.AdminUtil {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border: 1px solid black;
  padding: 12px;
}
.AdminList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  height: 90vh;
  overflow: scroll;
}
.stockCards {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  border-radius: 12px;
  position: relative;
}
.stockCard {
  position: absolute;
  top: 0;
}
