@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SBAggroB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PTBandocheB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/PTBandocheB.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

:root {
  --background-color: #e0f2f1;
  --main-color: #b2dfdb;
  --second-color: #80cbc4;
  --point-color: #4db6ac;
  --deep-color: #00c49f;
  --normal-color: #0088fe;
  --caution-color: #ffbb28;
  --energy-color: #ff8042;
  --warning-color: #ff6b6b;
  --cancel-color: #e05656;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
* {
  box-sizing: border-box;
  font-family: "PTBandocheB";
}

// 각 페이지 컴포넌트를 위한 wrapper
.page {
  flex: 1 1 auto;
  // padding-left: 200px;
  text-align: center;
  //outlet page에만 스크롤 생기게
  overflow-y: auto;
  height: calc(100vh - 4.375rem);
  width: calc(100vw - 12.5rem);
  // @media (min-width: 768px) {
  //   // height: 100vh;
  //   // .page {
  //   //   width: 100%;
  //   // }
  // }
  // @media (min-width: 480px) {
  //   // height: 100vh;
  // }
}

.page::-webkit-scrollbar {
  width: 0.5rem; /* 스크롤바의 너비 */
}

.page::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: gray; /* 스크롤바의 색상 */

  border-radius: 0.625rem;
}

.page::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, 0.1); /*스크롤바 뒷 배경 색상*/
}

// page 안에 있는 wrapper
.container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0.3125rem;

  @media (min-width: 576px) {
    padding: 0.9375rem;
  }
  @media (min-width: 990px) {
    padding: 0.3125rem;
  }
}

/* 기본버튼 */
.globalBtn {
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  color: #fff;
  background-color: var(--second-color);
  border: none;
  border-radius: 3.125rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--point-color);
  }

  &:active {
    background-color: var(--point-color);
  }
}
// 네모 기본 버튼
.squareGlobalBtn {
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  color: #fff;
  background-color: var(--second-color);
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  svg {
    margin-right: 8px;
  }

  &:hover {
    background-color: var(--point-color);
  }

  &:active {
    background-color: var(--point-color);
  }
}

/* 기본 삭제버튼 */
.globalDeleteBtn {
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  color: #fff;
  background-color: #ff6b6b;
  border: none;
  border-radius: 3.125rem;

  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #e05656;
  }

  &:active {
    background-color: #e05656;
  }
}
// 네모 삭제 버튼
.squareGlobalDeleteBtn {
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  color: #fff;
  background-color: #ff6b6b;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  svg {
    margin-right: 8px;
  }

  &:hover {
    background-color: #e05656;
  }

  &:active {
    background-color: #e05656;
  }
}
/* 기본수정버튼 */
.globalEditBtn {
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  color: #fff;
  background-color: #1abc9c;
  border: none;
  border-radius: 3.125rem;

  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #16a085;
  }

  &:active {
    background-color: #16a085;
  }
}
// 네모 수정버튼
.squareGlobalEditBtn {
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  color: #fff;
  background-color: #1abc9c;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  svg {
    margin-right: 8px;
  }

  &:hover {
    background-color: #16a085;
  }

  &:active {
    background-color: #16a085;
  }
}
