.headerTitle {
  h1 {
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: #2980b9;
    text-align: center;
  }
  h2 {
    margin: 20px 0;
    font-size: 1.8rem;
    color: #2c3e50;
    text-align: center;
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 1.8rem;
    }
    h2 {
      font-size: 1.4rem;
    }
  }

  @media (max-width: 480px) {
    h1 {
      font-size: 1.5rem;
    }
    h2 {
      font-size: 1.2rem;
    }
  }
}

.boxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  .diseaseTypeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .imgBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .Img {
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    .imgBox {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  @media (max-width: 480px) {
    .imgBox {
      width: 90%;
      margin-bottom: 15px;
    }
  }

  .btn {
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: inline-block; /* 이미지와 버튼이 함께 축소되도록 inline-block 사용 */

    &:hover {
      background-color: #2980b9;
      color: white;
    }

    img {
      width: 100%; /* 버튼 크기에 맞게 이미지가 100%로 늘어나거나 줄어듦 */
      height: auto; /* 이미지 비율을 유지 */
    }

    @media (max-width: 768px) {
      font-size: 0.8rem;
      padding: 8px 15px;
    }

    @media (max-width: 480px) {
      font-size: 0.7rem;
      padding: 6px 12px;
    }
  }

  .imgBox {
    width: 30%; /* 버튼의 부모 요소 크기 */
    margin: 0 auto;
    text-align: center; /* 이미지가 가운데 정렬되도록 설정 */

    img {
      width: 100%; /* 버튼 크기에 맞게 이미지 크기를 설정 */
      height: auto; /* 비율을 유지하며 축소/확대 */
    }

    @media (max-width: 768px) {
      width: 70%; /* 화면이 줄어들 때 이미지 박스 크기 조정 */
    }

    @media (max-width: 480px) {
      width: 90%; /* 작은 화면에서는 더 큰 비율로 박스 설정 */
    }
  }
}

.rowBox {
  .formControl {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 20px;

    &:focus {
      border-color: #2980b9;
      box-shadow: 0 0 5px rgba(41, 128, 185, 0.5);
    }
  }

  @media (max-width: 768px) {
    .formControl {
      font-size: 0.9rem;
    }
  }

  @media (max-width: 480px) {
    .formControl {
      font-size: 0.8rem;
    }
  }

  .prevBtn,
  .nextBtn {
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: var(--main-color);
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    transition: background-color 0.3s ease;

    @media (max-width: 768px) {
      font-size: 0.8rem;
      padding: 0.5rem 1rem;
    }

    @media (max-width: 480px) {
      font-size: 0.7rem;
      padding: 0.4rem 0.8rem;
    }
  }

  .card {
    transition: transform 0.3s;
    cursor: pointer;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
      border-radius: 1rem;
    }

    .cardHeader {
      background-color: #ecf0f1;
      font-weight: bold;
      padding: 15px;
      color: var(--point-color);
      border-radius: 10px;
      height: 6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      white-space: nowrap; /* 텍스트 줄바꿈 방지 */
      overflow: hidden; /* 넘치는 텍스트 숨김 */
      text-overflow: ellipsis; /* 넘치는 텍스트에 ... 표시 */

      @media (max-width: 768px) {
        font-size: 1rem;
        padding: 10px;
      }

      @media (max-width: 480px) {
        font-size: 0.9rem;
        padding: 8px;
      }
    }
  }

  .modalDisease {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .modalContent {
      background-color: #ffffff;
      // padding: 20px;
      border-radius: 10px;
      width: 100%;
      max-width: 700px;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;
      padding: 2%;

      @media (max-width: 768px) {
        font-size: 0.9rem;
        padding: 10px;
      }

      @media (max-width: 480px) {
        font-size: 0.8rem;
        padding: 8px;
      }
    }

    .close {
      cursor: pointer;
      color: #2980b9;
      font-weight: bold;
      float: right;
      font-size: 2rem;
      position: absolute;
      top: 0;
      right: 3%;

      @media (max-width: 768px) {
        font-size: 1.8rem;
      }

      @media (max-width: 480px) {
        font-size: 1.5rem;
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    span {
      margin: 0 10px;
    }

    @media (max-width: 768px) {
      button {
        font-size: 0.8rem;
        padding: 0.5rem 1rem;
      }
      span {
        font-size: 0.8rem;
      }
    }

    @media (max-width: 480px) {
      button {
        font-size: 0.7rem;
        padding: 0.4rem 0.8rem;
      }
      span {
        font-size: 0.7rem;
      }
    }
  }

  .diseaseTitle {
    font-size: 1rem;
    text-align: center;
    white-space: nowrap; /* 한 줄로 표시 */
    overflow: hidden; /* 넘치는 글자를 숨김 */
    text-overflow: ellipsis; /* 넘치는 부분을 ...으로 처리 */

    @media (max-width: 968px) {
      font-size: 1.3rem; /* 화면이 줄어들 때 글씨 크기 조정 */
    }

    @media (max-width: 768px) {
      font-size: 1.2rem;
    }

    @media (max-width: 480px) {
      font-size: 1rem;
    }
  }
}
