.buttonContainer {
  display: flex;
  justify-content: center; // 버튼 중앙 정렬
  gap: 1rem; // 버튼 사이 간격
  margin-bottom: 2rem;

  @media (max-width: 768px) {
    flex-direction: column; // 화면이 좁아지면 버튼이 수직으로 배치되도록
    align-items: center;
  }
}

.monthPracticeContainer,
.diseaseDictionaryContainer {
  width: 80%;
  margin: 0 auto;
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

  @media (max-width: 768px) {
    width: 100%; // 작은 화면에서 너비를 더 넓게
    padding: 1.5rem;
  }
}
