.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 12.5rem;
  height: 100%;
  background-color: var(--background-color);
  // z-index: -1;
  word-break: keep-all;
}
