.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  // overflow: hidden;
}

.wrapper {
  position: relative;
  display: flex;
  flex: 1;

  .nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 100%;
    background-color: var(--background-color);
    // z-index: -1;
    word-break: keep-all;
  }
  .container {
    flex: 1;
    padding: 0 30px;
    padding-top: 24px;
    //   position: relative;
    // button {
    //   font-size: 28px;
    //   border: 1px solid black;
    //   border-radius: 8px;
    //   padding: 8px;
    //   position: absolute;
    //   top: 24px;
    //   right: 30px;
    // }
  }
}

// .content {
//   flex: 1;
//   overflow-y: auto;
// }
