.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  .modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 40%;
    max-width: 100%;
    .AddDiseaseForm {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      input {
        flex: wrap;
        border: 1px solid black;
      }
      .btnBox {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
