.box {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;

  h1 {
    text-align: center;
    color: #333;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  div {
    display: flex;
    align-items: center; // 아이템을 세로로 중앙 정렬
    margin-bottom: 1rem; // 간격을 위한 margin 설정
    width: 100%; // div가 부모의 100% 너비를 가지도록 설정
  }

  label {
    display: block;
    font-weight: bold;
    margin-right: 1rem; // margin을 rem으로 설정
    width: 25%; // label의 너비를 %로 설정
    text-align: right;
    line-height: 2; // 줄 높이를 2rem로 설정
  }

  input[type="text"],
  input[type="number"],
  textarea,
  select {
    flex: 1; // 남은 공간을 차지하도록 설정
    padding: 0.5rem; // 패딩을 rem으로 설정
    border: 1px solid #ccc;
    border-radius: 0.25rem; // border-radius를 rem으로 설정
    font-size: 1rem; // 폰트 크기를 rem으로 설정
  }

  textarea {
    resize: vertical; // textarea의 세로 크기 조정 가능
  }

  button {
    background-color: var(--main-color);
    color: #fff;
    border: none;
    padding: 0.625rem 0.9375rem; // 패딩을 rem으로 설정
    font-size: 1rem; // 폰트 크기를 rem으로 설정
    border-radius: 0.25rem; // border-radius를 rem으로 설정
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: var(--point-color); // hover 색상 설정
    }

    &.check-button {
      // 중복 확인 버튼 스타일
      background-color: #6c757d;

      &:hover {
        background-color: #5a6268;
      }
    }
  }

  p {
    color: red;
    font-size: 0.875rem; // 폰트 크기를 rem으로 설정
    text-align: center;
  }
}
