.box {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;

  div {
    display: flex;
  }

  h2 {
    text-align: center;
    color: #333;
  }
  form {
    display: flex;
    flex-direction: column;
  }

  div {
    margin-bottom: 15px;
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 0px;
    margin-right: 8px;
    width: 200px;
    letter-spacing: 3px;
    text-align: right;
    line-height: 30px;
  }

  input[type="text"],
  input[type="number"],
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }

  textarea {
    height: 100px;
    resize: vertical;
  }

  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: #0056b3;
  }

  button[type="button"] {
    background-color: #6c757d;
  }

  button[type="button"]:hover {
    background-color: #5a6268;
  }

  p {
    color: red;
    font-size: 14px;
    text-align: center;
  }
}
