.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 16px;
  background-color: var(--second-color);
  height: 70px;
  position: relative;
}
.logo {
  display: flex;
  margin-left: 6px;
  justify-content: space-around;
  align-items: center;
  width: 192px;
  height: 60px;
}
.logoImg {
  width: 60px;
  height: 60px;
}
.logoText {
  font-weight: 800;
  font-size: 24px;
}

.userInfo {
  display: flex;
  width: 100px;
  justify-content: space-around;
}
.address {
  position: absolute;
  right: 120px;
}
.user {
  position: relative;

  &:hover .usermenu,
  .usermenu:hover {
    display: block;
  }
  .usermenu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 150px;
    // visibility: hidden;
    z-index: 100;
  }
}
