.container {
  display: flex;
  flex-direction: column;
  .btns {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 0.8rem;
    gap: 0.3rem;
    button {
      width: 100%;
    }
    .squareGlobalEditBtn {
      background-color: transparent;
    }
  }
}
