.container {
  padding: 0.5rem;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  // grid-auto-rows: 1fr 1fr;
  h3 {
    margin: 0;
    color: #444;
  }

  .myFarmInfoBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .selectDiv {
      display: flex;
      gap: 16px;
      padding-left: 16px;
      padding-top: 8px;
      .warn {
        width: 250px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: rgb(255, 94, 94);
        margin-left: auto;
        padding-right: 22px;
        button {
          border: none;
          outline: none;
          border-radius: 8px;
          padding: 4px 8px;
          background-color: rgb(166, 193, 243);
        }
      }
    }
    .selectBox {
      background-color: #eee;
      color: #000000;
      font-size: inherit;
      padding: 0.5em;
      padding-right: 2.5em;
      border: 0;
      margin: 0;
      border-radius: 3px;
      text-indent: 0.01px;
      text-overflow: "";
      -webkit-appearance: button; /* hide default arrow in chrome OSX */
    }

    .selectBox::before,
    .selectBox::after {
      content: "";
      position: absolute;
      pointer-events: none;
    }

    .selectBox::after {
      /*  Custom dropdown arrow */
      content: "\25BC";
      height: 1em;
      font-size: 0.625em;
      line-height: 1;
      right: 1.2em;
      top: 50%;
      margin-top: -0.5em;
    }

    .selectBox::before {
      /*  Custom dropdown arrow cover */
      width: 2em;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: 0 3px 3px 0;
    }

    .selectBoxselect[disabled] {
      color: rgba(0, 0, 0, 0.3);
    }

    .selectBoxselect[disabled]::after {
      color: rgba(0, 0, 0, 0.1);
    }

    .selectBox::before {
      background-color: rgba(0, 0, 0, 0.15);
    }

    .selectBox::after {
      color: rgba(0, 0, 0, 0.4);
    }
    .cctv {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }

  .farmInfoBox {
    width: 100%;
    height: 96%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 16px;
    .farmTable {
      padding-top: 0.5rem;
      height: 60%;
      // margin-bottom: 5rem;
    }
    .chartContainer {
      width: 100%;
      height: 400px;
    }
  }
  // .farmListInfo {
  //   padding-top: 0.5rem;
  //   height: 60%;
  //   // margin-bottom: 5rem;

  //   .styledTable {
  //     width: 100%;
  //     height: 85%;
  //     border: 3px solid #009879;
  //     // border-collapse: collapse;
  //     margin: 0.5625rem 0;
  //     font-size: 0.9em;
  //     // font-family: sans-serif;
  //     // min-width: 25rem;
  //     box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.15);
  //   }
  //   .styledTable thead tr {
  //     background-color: var(--main-color);
  //     // background-color: #009879;
  //     border: 3px solid #009879;
  //     color: 000;
  //     &:first-child {
  //       height: 50px;
  //     }
  //   }
  //   .styledTable th,
  //   .styledTable td {
  //     // padding: 0.75rem 0.9375rem;
  //     width: 100px;
  //     border: 3px solid #009879;
  //   }
  // }
}
