.AdminStock {
  display: flex;
  gap: 24px;
  width: 77vw;
  overflow: hidden;
}
.AdminUtil {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border: 1px solid black;
  padding: 12px;
}
.AdminList {
  display: flex;
  flex-direction: column;
  color: 12px;
  gap: 12px;
  padding: 12px;
  height: 90vh;
  overflow: scroll;
}
.stockPTag {
  margin: 0;
  text-align: center;
  vertical-align: center;
  margin-top: 6px;
}

.stockCards {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  border-radius: 12px;
  position: relative;
}
.stockCard {
  position: absolute;
  top: 0;
  td {
    .tdDiv {
      display: flex;
      // flex-direction: column;
      align-items: center;
      width: 100%;
      button {
        display: block;
        // width: fit-content;
        padding: 0;
        text-align: left;
      }
      div {
        // display: inline-block;
        padding: 0 4px;
        font-size: 10px;
      }
    }
  }
}
// .stockDetailBtn {
//   display: flex;
//   width: 100%;
// }
.editStockBtn {
  // flex: 3 3;
  background-color: #007bff;
  width: 100%;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: rgb(0, 84, 173);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }
}
.settingStockBtn {
  // flex: 3 3;
  background-color: #005ec2cb;
  width: 100%;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: rgb(0, 84, 173);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }
}
.deleteStockBtn {
  // flex: 1 1;
  background-color: #dc3545;
  width: 100%;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: rgb(220, 53, 69);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }
}
