.boardList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
  margin-top: 1.25rem;

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr); // 768px 이하에서는 두 개의 열로
  }

  @media (max-width: 480px) {
    grid-template-columns: repeat(1, 1fr); // 480px 이하에서는 한 열로
  }
}
