.commentSection {
  padding: 1.25rem;
  border: 0.0625rem solid #ddd;
  border-radius: 0.5rem;
  background-color: #ffffff;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 37.5rem;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;

  // 스크롤바 스타일
  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 0.625rem;
  }

  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 0.625rem;
    transition: background 0.3s ease;

    &::-webkit-scrollbar-thumb:hover {
      background: #aaa;
    }
  }
}

h2 {
  margin-bottom: 1.25rem;
  font-size: 1.125rem;
  color: #333;
  text-align: center;
  font-weight: bold;
}

.textareaContainer {
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
}

.commentText {
  width: 100%;
  height: 6.25rem;
  padding: 0.75rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
  resize: none;
  margin-bottom: 0.9375rem;
  box-shadow: inset 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
  &:focus {
    border-color: #007bff;
    outline: none;
  }
}

.addComment {
  align-self: flex-end;
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  &:hover {
    background-color: #0056b3;
    transform: scale(1.05);

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }

  .commentList {
    margin-top: 1.25rem;
  }

  .error {
    color: red;
    margin-top: 0.625rem;
    text-align: center;
  }
}
