.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modalContent {
    background-color: white;
    padding: 1.25rem;
    border-radius: 0.625rem;
    max-width: 31.25rem;
    width: 90%;
    box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    transform: scale(0.95);

    &:hover {
      transform: scale(1);
    }

    .modalHeader {
      display: flex;
      align-items: center;
      justify-content: center;

      .sirenImage {
        width: 2.5rem;
        height: auto;
        margin-right: 0.625rem;

        h2 {
          line-height: 1.5;
          font-size: 1.5rem;
          color: #333;
        }
      }
    }
    .textarea {
      width: 100%;
      height: 6.25rem;
      padding: 0.625rem;
      border: 0.0625rem solid #ccc;
      border-radius: 0.3125rem;
      resize: none;
      font-size: 1rem;
      margin-bottom: 0.9375rem;
      outline: none;
      transition: border-color 0.3s;
    }

    .textarea:focus {
      border-color: #007bff;
    }

    .actions {
      display: flex;
      justify-content: space-between;
    }

    .submitButton {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 0.625rem 0.9375rem;
      border-radius: 0.3125rem;
      cursor: pointer;
      font-size: 1rem;
      transition: background-color 0.3s, transform 0.2s;
    }

    .submitButton:hover {
      background-color: #0056b3;
      transform: scale(1.05);
    }

    .cancelButton {
      background-color: #ccc;
      color: black;
      border: none;
      padding: 0.625rem 0.9375rem;
      border-radius: 0.3125rem;
      cursor: pointer;
      font-size: 1rem;
      transition: background-color 0.3s;
    }

    .cancelButton:hover {
      background-color: #bbb;
    }
  }
}
@media (max-width: 768px) {
  .modalContent {
    padding: 1rem; /* 패딩 축소 */
    max-width: 80%; /* 최대 너비 조정 */

    .sirenImage {
      width: 2rem; /* 이미지 크기 축소 */
    }

    h2 {
      font-size: 1.25rem; /* 제목 폰트 크기 축소 */
    }

    .textarea {
      height: 5rem; /* 텍스트 영역 높이 축소 */
      font-size: 0.95rem; /* 텍스트 영역 폰트 크기 축소 */
    }

    .submitButton,
    .cancelButton {
      font-size: 0.95rem; /* 버튼 폰트 크기 축소 */
      padding: 0.5rem 0.75rem; /* 버튼 패딩 축소 */
    }
  }
}

@media (max-width: 480px) {
  .modalContent {
    padding: 0.75rem; /* 패딩 더 축소 */
    max-width: 90%; /* 최대 너비 더 조정 */

    .sirenImage {
      width: 1.75rem; /* 이미지 크기 더 축소 */
    }

    h2 {
      font-size: 1rem; /* 제목 폰트 크기 더 축소 */
    }

    .textarea {
      height: 4rem; /* 텍스트 영역 높이 더 축소 */
      font-size: 0.85rem; /* 텍스트 영역 폰트 크기 더 축소 */
    }

    .submitButton,
    .cancelButton {
      font-size: 0.85rem; /* 버튼 폰트 크기 더 축소 */
      padding: 0.4rem 0.6rem; /* 버튼 패딩 더 축소 */
    }
  }
}
