.imageUploader {
  text-align: center;
  margin-bottom: 1.25rem;
}

.uploadLabel {
  display: inline-block;
  background-color: #fff;
  color: black;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.25rem;
  cursor: pointer;
  &:hover {
    background-color: #f0f0f0;
  }
}

.imagePreview {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 0.5rem;
  border: 0.0625rem solid #ddd;
  margin-bottom: 0.625rem;
}
