.container {
  padding: 2.375rem 0 3.625rem;
  display: flex;
  background-color: #ebebeb;
  justify-content: center;
  align-items: center;
  height: 10rem;

  img {
    height: 2.75rem;
    margin-right: 1.875rem;
  }

  .texts {
    .heading {
      margin: 0 0 0.3125rem;
      font-size: 1.375rem;
      font-weight: bold;
    }

    .description {
      margin: 0;
      font-size: 0.9375rem;
      font-weight: 500;
    }

    .freeBoard .heading {
      color: #545454;
    }

    .freeBoard .description {
      color: #878787;
    }

    .livestock .heading,
    .livestock .description {
      color: #fff;
    }
  }
}

.wrapper {
  width: 100%;
  max-width: 52.5rem; /* 840px */
  margin: 0 auto;
  margin-bottom: 1.875rem; /* 3rem */
}

.freeBoard {
  background-color: #ebebeb;
}

.livestockBoard {
  background-color: #73bfad;
  color: #fff;
}
