.container {
  padding: 2.375rem 0 3.625rem;
  display: flex;
  background-color: #ebebeb;
  justify-content: center;
  align-items: center;
  height: 10rem;

  img {
    height: 2.75rem;
    margin-right: 1rem;
  }

  .texts {
    writing-mode: horizontal-tb;

    .heading {
      margin: 0 0 0.3125rem;
      font-size: 1.25rem;
      font-weight: bold;
    }

    .description {
      margin: 0;
      font-size: 0.875rem;
      font-weight: 500;
    }

    .freeBoard .heading {
      color: #545454;
    }

    .freeBoard .description {
      color: #878787;
    }

    .livestock .heading,
    .livestock .description {
      color: #fff;
    }
  }
}

.wrapper {
  width: 100%;
  max-width: 84.375rem;
  margin: 0 auto;
  margin-bottom: 1.875rem; /* 3rem */
}

.freeBoard {
  background-color: #f6f4ef;
}

.livestockBoard {
  background-color: #36c6a9;
  color: #fff;
}

/* 반응형 디자인을 위한 미디어 쿼리 */

@media (max-width: 1350px) {
  .wrapper {
    max-width: 90%;
  }
  .texts {
    .heading {
      font-size: 1.5rem; /* 큰 화면에서 폰트 크기 증가 */
    }

    .description {
      font-size: 1.125rem; /* 큰 화면에서 폰트 크기 증가 */
    }
  }
}
/* 768px 이하 */
@media (max-width: 768px) {
  .wrapper {
    max-width: 95%;
  }
  .container {
    flex-direction: column;
    height: auto;
    padding: 1.5rem 0;
    justify-content: center;

    img {
      margin-left: 0;
      margin-bottom: 1rem;
      height: 2.5rem;
    }

    .texts {
      margin-right: 0;
      text-align: center;

      .heading {
        font-size: 1.125rem; /* 폰트 크기 미세 조정 */
      }

      .description {
        font-size: 0.8125rem; /* 폰트 크기 미세 조정 */
      }
    }
  }

  .wrapper {
    margin-bottom: 1.5rem;
    max-width: 95%;
  }
}

/* 480px 이하 */
@media (max-width: 480px) {
  .wrapper {
    max-width: 95%;
  }
  .container {
    padding: 1rem 0;
    height: auto;

    img {
      height: 2.25rem;
      margin-bottom: 1rem;
    }

    .texts {
      .heading {
        font-size: 1rem; /* 폰트 크기 약간 줄임 */
      }

      .description {
        font-size: 0.75rem; /* 폰트 크기 약간 줄임 */
      }
    }
  }

  .wrapper {
    margin-bottom: 1rem;
  }
}
