.Alarm {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
  button {
    // font-size: 18px;
    border: none;
    border-radius: 12px;
    padding: 10px;
    position: absolute;
    top: 12px;
    right: 20px;
    cursor: pointer;
    &:hover {
      background-color: lightgray;
    }
  }
  span {
    color: darkgrey;
    font-size: 12px;
  }
  li {
    padding: 24px;
    list-style-type: none;
    border: 1px solid black;
    border-radius: 12px;
  }
}
