.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.15);
  padding: 2rem;
  border-radius: 0.8rem;
  width: 100%;
  max-width: 800px;
  background-color: #ffffff;
  border: 1px solid #ddd;
}

.profile {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  position: relative;
  cursor: pointer;

  .personImg {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--main-color);
  }

  .hidden {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  p {
    margin-left: 1rem;
    color: var(--main-color);
    font-weight: bold;
    font-size: 1rem;
  }
}

.userInfo > div {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;

  span {
    flex: 0 0 30%;
    font-weight: bold;
    color: var(--main-color);
    font-size: 1rem;
  }

  input {
    flex: 1;
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    font-size: 1rem;
    color: #333;
  }
}

.addr {
  span {
    font-weight: bold;
    color: var(--main-color);
    font-size: 1rem;
  }

  .addrInputs {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input {
      padding: 0.5rem 1rem;
      border: 1px solid #ddd;
      border-radius: 0.5rem;
      font-size: 1rem;
      color: #333;
    }

    .addrIP {
      width: 100%;
    }

    .addr2 {
      width: 100px;
    }
  }
}

.btnWrap {
  display: flex;
  gap: 1rem;
  justify-content: center;

  button {
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: var(--main-color);
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: var(--second-color);
  }

  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}
