.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  margin-top: 3rem;
  width: 60%;
  padding: 3rem 2rem;
  border-radius: 1rem;
  align-items: flex-start;

  input {
    padding: 5px 15px;
    margin-left: 20px;
  }
  .profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    position: relative;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    border-radius: 0.7rem;
    overflow: hidden;
    .personImg {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
    }
    .hidden {
      position: absolute;
      opacity: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: red;
    }
    p {
      top: 0;
      right: 0;
    }
  }
  .addr {
    display: flex;
    flex-wrap: wrap;
    // gap: 0.5rem;
  }
  .buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    button {
      border: none;
      padding: 1rem;
      border-radius: 1rem;
      cursor: pointer;
    }
    .naver {
      background-color: var(--main-color);
    }
  }
}
