.box {
  display: flex;
  width: 100%;
  height: calc(100vh - 4.375rem);
}
.widget {
  width: 85%;
  background-color: rgb(149, 149, 241);
  height: 100%;
  overflow-y: auto;
}
.widget::-webkit-scrollbar {
  width: 0.5rem; /* 스크롤바의 너비 */
}

.widget::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: gray; /* 스크롤바의 색상 */

  border-radius: 0.625rem;
}

.widget::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, 0.1); /*스크롤바 뒷 배경 색상*/
}

.sub {
  background-color: red;
  width: 15%;
}
