.box {
  display: flex;
  width: 100%;
  height: calc(100vh - 4.375rem);

  .widget {
    width: 85%;
    height: 100%;
    overflow-y: auto;

    // 위젯 아이템 사이즈 설정
    .item {
      // background-color: red;
      background-color: #fff;
      // border: 1px solid var(--point-color);
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
        0 2px 2px rgba(0, 0, 0, 0.11), 0 3px 4px rgba(0, 0, 0, 0.11),
        0 4px 8px rgba(0, 0, 0, 0.11);
      border-radius: 8px;
      padding: 16px;
      // height: 300px;
      // width: 200px;
      overflow: hidden;
      // width: 200px;
    }
  }
  .widget::-webkit-scrollbar {
    width: 0.5rem; /* 스크롤바의 너비 */
  }

  .widget::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: gray; /* 스크롤바의 색상 */

    border-radius: 0.625rem;
  }

  .widget::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, 0.1); /*스크롤바 뒷 배경 색상*/
  }

  .sub {
    background-color: var(--main-color);
    padding: 16px 0;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .button {
    width: 90%;
    align-items: center;
    appearance: none;
    background-color: #fcfcfd;
    border-radius: 0.25rem; /* 4px */
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 0.125rem 0.25rem,
      /* 2px 4px */ rgba(45, 35, 66, 0.3) 0 0.4375rem 0.8125rem -0.1875rem,
      /* 7px 13px -3px */ #d6d6e7 0 -0.1875rem 0 inset; /* -3px */
    box-sizing: border-box;
    // color: #36395a;
    cursor: pointer;
    display: inline-flex;
    // font-family: var(--)
    height: 3rem; /* 48px */
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 1rem; /* 16px */
    padding-right: 1rem; /* 16px */
    // position: relative;
    // text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 1.125rem; /* 18px */
  }

  .button:focus {
    box-shadow: #d6d6e7 0 0 0 0.09375rem inset,
      /* 1.5px */ rgba(45, 35, 66, 0.4) 0 0.125rem 0.25rem,
      /* 2px 4px */ rgba(45, 35, 66, 0.3) 0 0.4375rem 0.8125rem -0.1875rem,
      /* 7px 13px -3px */ #d6d6e7 0 -0.1875rem 0 inset; /* -3px */
  }

  .button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 0.25rem 0.5rem,
      /* 4px 8px */ rgba(45, 35, 66, 0.3) 0 0.4375rem 0.8125rem -0.1875rem,
      /* 7px 13px -3px */ #d6d6e7 0 -0.1875rem 0 inset; /* -3px */
    transform: translateY(-0.125rem); /* -2px */
  }

  .button:active {
    box-shadow: #d6d6e7 0 0.1875rem 0.4375rem inset; /* 3px 7px */
    transform: translateY(0.125rem); /* 2px */
  }

  .checkList {
    position: absolute;
    bottom: 100px;
    right: 30px;
    display: flex;
    background-color: #c4c4c4;
    flex-direction: column;
    height: 400px;
    width: 200px;
    padding: 16px;
    text-align: left;
    gap: 8px;
    border-radius: 16px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 0.125rem 0.25rem,
      /* 2px 4px */ rgba(45, 35, 66, 0.3) 0 0.4375rem 0.8125rem -0.1875rem,
      /* 7px 13px -3px */ #d6d6e7 0 -0.1875rem 0 inset;
  }
}
