.contBox {
  margin-top: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.5rem;
  .cont {
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
      0 2px 2px rgba(0, 0, 0, 0.11), 0 3px 4px rgba(0, 0, 0, 0.11),
      0 4px 8px #0000001c;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 18.75rem;
    height: 18.75rem;
  }
}
