.container {
  // display: flex;
  // flex-direction: column;
  width: 100%;
}
.one {
  display: flex;
  justify-content: center;
  align-items: center;
}
.two {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.myTabsClass ul > li > a {
  color: red;
}
