.page {
  background-color: black;
}
.container {
  width: 100%;
  font-size: 24px;
  ul {
    button {
      color: var(--point-color);
      border: 1px solid var(--main-color);
      border-radius: 6px;
      &:hover {
        background-color: var(--second-color);
        color: white;
      }
      &:active {
        background-color: var(--second-color);
        color: white;
      }
    }
    .nav-link.active {
      background-color: var(--second-color);
      color: white;
    }
  }
}
.one {
  display: flex;
  justify-content: center;
  align-items: center;
}
.two {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.myTabsClass {
  .nav-link:focus,
  .nav-link:hover {
    color: var(--point-color);
  }

  .button {
    color: var(--point-color);
  }
}
